@import url("https://fonts.googleapis.com/css?family=Poppins:400,500");

body {
  font-family: "Poppins", sans-serif;
  background-color: #e6e6e6;
}

header {
  background-color: #282C34;
  color: #383838;
}

.bg-dark {
  background-color: #282C34 !important;
}

.top-container {
  padding: 100px 50px;
  font-size: 40px;
  color: #e6e6e6;
  font-weight: bold;
}

.top-container>h2 {
  margin: 30px;
}

main {
  padding: 30px;
}

.block_exercise {
  display: flex;
  text-align: center;
}

.btn {
  width: 100%;
}

.btn-secondary {
  color: white;
  background-color: #282C34;
}

.block {
  padding: 12px;
  color: #383838;
  width: 50%;
}

.list-exercise {
  display: flex;
  justify-content: space-between;
}

/* Bootstrap tag is not editing! */
.card {
  width: 100%;
  /* max-width: 210px; */
  border: none;
}

.card-block {
  height: 80px;
  margin: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 113%;
}
.card-block-answer{
  margin-left: -20%;
}
.card-block>button {
  height: 50px;
  width: 50px;
}

.game-block {
  width: 700px;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 16px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.col-lg-4{
  /* padding: 0;
  margin: 0; */
}
.game-quess-block {
  display: flex;
  max-width: 900px;
  justify-content: space-between;
  margin: 0 auto;
}

.block-with-btn {
  display: flex;
  justify-content: space-between;
  width: 730px;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}

.quess-block {
  padding: 20px;
}

.title-admin {
  text-align: center;
}

th,
td {
  text-align: center;
}

.title-admin {
  text-transform: uppercase;
}

.block>p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-link {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.active-question{
  background-color: green;
}

.active-answer{
  background-color: blue;
}

.line{
  background-color: yellow;
}

canvas{
  position: absolute;
  width: 220px;
  height: 1000px;
  top: -200px;
}

img.card-question{
  height: 94px;
  width: 159px;
}

.col-lg-8{
  /* padding: 0; */
}

.button-question{
  background-color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  background-image: url(/assets/images/imgBTfrecha.png);
  width: 48px !important;
  height: 48px !important;
  z-index: 10;
}

.button-answer{
  background-color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  background-image: url(/assets/images/imgBTdianaOn.png);
  width: 48px !important;
  height: 48px !important;
  z-index: 10;
}

.conected-answer{
  background-color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  background-image: url(/assets/images/imgBTdianaRip.png);
  width: 48px !important;
  height: 48px !important;
  z-index: 10;
}

.active-question {
  background-color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  background-image: url(/assets/images/imgBTfrecha_Sel.png);
  width: 48px !important;
  height: 48px !important;
  z-index: 10;
}

.connected-question{
  background-color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  background-image: url(/assets/images/imgBTfrecha_Sel.png);
  width: 48px !important;
  height: 48px !important;
  z-index: 10;
}

.btn-match{
  background-color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  background: url(/assets/images/button_nav.png);
  width: 190px;
  height: 67px;
  cursor: default;
  left: 40px;
  bottom: 48px;
  z-index: 99;
}

.card-answer{
  text-align: left;
  width: 75%;
}

.matching-block{
  background-color: white;
  width: 800px;
  margin: 0 auto;
  padding: 30px 0;
}


.top-block{
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.btn-restart{
  background-color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  background-image: url(/assets/images/restart.png);
  width: 40px !important;
  height: 40px !important;
  z-index: 10;
}


button:disabled,
button[disabled]{
  color: #ffffff;
  opacity: .4;
}

.match-false{
  background-color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  background-image: url(/assets/images/imgBTfrecha_Sel_ko.png);
  width: 48px !important;
  height: 48px !important;
  z-index: 10;
}

.match-true{
  background-color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  background-image: url(/assets/images/imgBTfrecha_Sel_ok.png);
  width: 48px !important;
  height: 48px !important;
  z-index: 10;
}

.button-question:disabled,
.button-question[disabled],
.button-answer:disabled,
.button-answer[disabled]{
  opacity: 1;
}

#test{
  height: 200px;
  width: 200px;

  background-color: blue;
}

.feedback{
  width: 730px;
  background-color: #A7DCF7;
  border-radius: 5px;
  padding: 13px;
  margin: 0 40px;
  position: absolute;
  z-index: 9999;
  display: none;
  justify-content: space-between;

}
.feedback>button{
  background-color: #A7DCF7;
  border: none;
  margin-top: -5px;
  margin-right: -10px
}

.feedback>h5{
  margin-top: 14px;
}
