@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.typingGround {
  background: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.emptyPart {
  text-align: center;
  width: 15px;
  border: none;
  padding: 0;
  margin: 0;
  overflow: unset;
  border-bottom: 2px solid rgb(255, 154, 3);
}
.emptyPart:focus {
  outline: none;
  border-bottom: 2px solid rgba(32,166,231,.8) ;
}
.bar {
  width: 100%;
  /* background: #4caf50; */
  padding: 10px 30px 30px 30px;
}

.clear {
  margin: 0;
  padding: 0;
}

.c-pointer {
  cursor: pointer;
}

.custom-title {
  font-size: 30px;
  letter-spacing: 2px;
}

.normalize-icon {
  display: inline-flex;
  vertical-align: middle;
}
.d-none{
  display: none;
}

.wrongInput {
  border-bottom: 2px solid rgb(255, 17, 0);
}
.rightInput {
  border-bottom: 2px solid #4caf50;
}

.custom-title{
  position: relative;
	width: 80%;
	font-size: 1.5em;
	font-weight: bold;
	padding: 15px 15px 20px 70px;
	margin: 10px 10px 40px -71px;
	color: white;
	background:rgba(32,166,231,.8) linear-gradient(180deg,#20a8e9,rgba(30,158,220,.5)) repeat-x;
	text-shadow: 0px 1px 2px #bbb;
	box-shadow: 0px 2px 4px #888;
}
.typingWrapper{
  position: absolute;
  overflow:scroll;
}

.typingBtn{
  border: solid 3px white;
  /* background: rgb(65, 130, 250); */
  background:rgba(32,166,231,.8) linear-gradient(180deg,#20a8e9,rgba(30,158,220,.5)) repeat-x;
  border-radius: 20px;
  padding: 12px 45px 8px 45px;
  box-shadow: 2px 4px 8px rgba(0,0,0,.15),inset 1px 0 15px rgba(190, 196, 255, 0.5);
  /* font-weight: bold; */
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  color:white;
  transition: .2s;
}
.typingBtn:focus{
  outline: none;
}
.typingBtn:hover{
  box-shadow: 2px 4px 8px rgba(0,0,0,.35);
  letter-spacing: 3px;
  transition: .1s;
}

.customBorder{
  border: solid 1px black;
}
.card-min-size{
  min-width: 510px;
}

/* Congratulations section */

.congratulations{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background: rgba(255,255,255,.8);
  z-index: 999;
}

