<div class="body">
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container">
        {{#link-to "index" class="navbar-brand"}}
        Exercise constructor
        {{/link-to}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              {{#link-to "index" class="nav-link"}}
              Home
              {{/link-to}}
            </li>
            <li class="nav-item">
              {{#link-to "exercises" class="nav-link"}}
              Exercises
              {{/link-to}}
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="">
    <main>
      {{outlet}}
    </main>
  </div>
</div>