<div class="game-quess-block row">
  {{#each model as |task|}}
    <div class="card col-lg-3">
      <div class="quess-block">
        <h5 class="card-question">
          {{task.question}}
        </h5>
        <h5 class="card-answer">
          {{task.answer}}
        </h5>
      </div>
    </div>
  {{/each}}
</div>
<div class="block-with-btn">
  <button class="btn btn-secondary">
    Check
  </button>
  <button class="btn btn-secondary">
    Try again
  </button>
  <button class="btn btn-secondary">
    See answers
  </button>
</div>