{{!-- <div class="block_exercise">
  <div class="block">
    <h3>Соответствия</h3>
    <p>Упражнения где нужно найти соответствия между объектами</p>
    {{#link-to "correspondences_list" class="btn btn-secondary"}}Перейти{{/link-to}}
  </div>

  <div class="block">
    <h3>Угадать слово</h3>

    <p>Упражнения где нужно вводить текст</p>
    {{#link-to "guess_list" class="btn btn-secondary"}}Перейти{{/link-to}}
  </div>
</div> --}}

